<div class = 'container mt-2' >
  <h1>New Game</h1>
  <div class="row">
    <% @letters.each do |letter| %>
      <div class="col-1">
        <button type="button" class="btn btn-primary"><%=letter%></button>
      </div>
    <% end %>
  </div>
  <p class = 'mt-4'>Type your word below</p>
  <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" id = "word" name="word">
    <%= hidden_field_tag 'letter', @letters  %>
    <input type = "submit" value = "play" >
  </form>
</div>
